* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container {
    width: 380px;
    padding: 30px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.search-box button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background-color: #222;
    color: white;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #444;
}

.weather-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.weather-card h2 {
    margin-bottom: 10px;
    color: #333;
}

.weather-icon img {
    width: 100px;
}

#temperature {
    font-size: 40px;
    color: #222;
    margin: 10px 0;
}

#condition {
    font-size: 20px;
    text-transform: capitalize;
    color: #555;
    margin-bottom: 20px;
}

.weather-info {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.weather-info div {
    background: #f1f1f1;
    padding: 15px;
    border-radius: 12px;
    flex: 1;
}

.weather-info span {
    font-size: 25px;
}

.weather-info p {
    margin: 5px 0;
    color: #666;
}

#errorMessage {
    color: white;
    margin-top: 15px;
    font-weight: bold;
}

.hidden {
    display: none;
}